body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.login_register {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.header {
    width: 100%;
    height: 60px;
    background-color: black;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.header img {
    height: 30px;
    margin-left: 0;
}

.content {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    box-sizing: border-box;
    /* display: flex;
    justify-content: center;
    flex-grow: 1; */
}