.item-index-form {
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px 40px 0 40px;
}

.item-index-form__tabs {
    display: flex;
    gap: 40px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-left: 0;
}

.tab {
    padding-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #333;
    padding-left: 20;
}

.tab--active {
    color: red;
    font-weight: bold;
    border-bottom: 2px solid red;
}

.item-index-form__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 25px;
}


.item-index-form-card {
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
}

.item-index-form-card__image {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #e5e5e5;
    overflow: hidden;
}

.item-index-form-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-index-form-card__sold {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 0, 0, 0.85);
    color: #fff;
    font-size: 14px;
    padding: 6px 10px;
}

.item-index-form-card__name {
    margin-top: 8px;
    font-size: 14px;
    color: #333;
}
