.login-form {
    width: 500px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 30px;
    border-radius: 5px;
}

.login-form__heading {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.login-form__group {
    margin-bottom: 25px;
}

.login-form__label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.login-form__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.login-form__error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    min-height: 20px;
}

.login-form__btn {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #ff5252;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.login-form__btn:hover {
    background-color: #e55337;
}


.register-link-area {
    text-align: center;
    margin-top: 15px;
}

.login-link {
    text-decoration: none;
    color: #419DFF;
    font-size: 14px;
}

.register-form__login-link a:hover {
    text-decoration: underline;
}